:root {
    --baseColor: #41436A;
    --mainColor: #984063;
    --secondColor: #F64668;
    --thirdColor: #FE9677;
  }

*, body {
    margin: 0;
    padding: 0;
    background-color: var(--baseColor);
}

#menu {
    position: fixed;
    width: 100vh;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    margin-left: 25vw;
}

a {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 3vh;
}

#listSection {
    position: absolute;
    display: block;
    width: 100vh;
    height: 90vh;
    margin-left: 25vw;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.6);
}